<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/home.css">
    <title>Potato.com</title>
</head>
<body>

    <form action="result/", method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td><label>Name</label></td>
            </tr>
            <tr>
                <td><input type="text" name="name"/><br></td>
                <td><input type="submit" value="Search"/></td>
            </tr>
        </table>
    </form>
</body>
</html>